{% extends 'base.html.twig' %}

{% block body %}

<section class="page-content clearfix">

	{{ form_start(form, {'attr': {'class': 'topics-centered', 'id':'addcontent-form'} })  }}
	<aside id="add-aside" class="clearfix">
		<img src="{{asset('img/share.png')}}" alt="Share"/>
		<h1>Post your mood</h1>
	</aside>

		{{ form_row(form.imagePost) }}
		{{ form_row(form.titlePost) }}
		{{ form_row(form.categorie) }}
		{{ form_row(form.keywords) }}
		{{ form_row(form.textePost) }}
		{{ form_row(form.save) }}

	{{ form_end(form) }}



			<!-- <form id="addcontent-form" class="topics-centered"  method="POST" action="{{path('addPost')}}" ENCTYPE="multipart/form-data">
			<aside id="add-aside" class="clearfix">
				<img src="{{asset('img/share.png')}}" alt="Share"/>
				<h1>Post your mood</h1>
			</aside>
			
				<h2 id="error-label" style="color: red;"><?=$error?></h2>
				<h2 id="error-label" style="color: green;"><?=$notError?></h2>

			<label for"fichier">Image</label>
			<input type="file" placeholder="fichier" name="fichier" class="FileType" value="" multiple="multiple"/>
			
			<label for="title">Title</label>
			<input type="text" placeholder="title" name="title" value="" />

			<label for="categories">Categories</label>
			<input type="text" placeholder="categories" name="categories" value="" />

			<label for="meta">Keywords</label>
			<input type="text" placeholder="meta" name="keywords" value="" />

			<label for="postmessage">Your mood!</label>
			<textarea type="text" placeholder="postmessage" name="message" value="" /></textarea>

			<input type="submit" value="Post it!" />
		</form> -->
	</section>



{% endblock %}